* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /*COLOR*/

  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);

  /*BODY font size */

  --font-base: 13px;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
